<div class="container">
  <div class="row align-items-center">
  </div>
  <div class="row">
    <form novalidate [formGroup]="authform" class="align-self-center offset-sm-3 col-6 offset-sm-3 sign-in-form"
          (ngSubmit)="onSubmit(authform.value)">
      <fieldset formGroupName="user">
        <div class="form-group" [ngClass]="{
            'has-danger': email.invalid && (email.dirty || email.touched),
            'has-success': email.valid && (email.dirty || email.touched)
        }">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email" required>
          <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required">Email is required</p>
            <p *ngIf="email.errors.pattern">The email address must contain at least the @ character</p>
            <p *ngIf="email.errors.user">User not found</p>
          </div>
        </div>
        <div class="form-group" [ngClass]="{
                  'has-danger': password.invalid && (password.dirty || password.touched),
                  'has-success': password.valid && (password.dirty || password.touched)
              }">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" required>
          <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
            <p *ngIf="password.errors.required">Password is required</p>
            <p *ngIf="password.errors.passwordErr">Incorrect password</p>
          </div>
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary form-control"
                [disabled]="!authform.valid">Submit
        </button>
      </fieldset>
    </form>
  </div>
</div>
