<div class="container">
  <div class="row">

    <div class="col-md-3">

      <h3>Select files</h3>
      <div
        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
        (fileOver)="fileOverBase($event)"
        [uploader]="uploader"
        ng2FileDrop
        class="well my-drop-zone"
      >
        <label for="select">Drop zone and click</label>
      </div>
    </div>

    <input type="file" ng2FileSelect [uploader]="uploader" multiple hidden="true" id="select" accept="image/*"/><br/>
    <div class="col-md-9" style="margin-bottom: 40px">

      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader?.queue?.length }}</p>

      <table class="table">
        <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td>
            <img src="" imgPreview [image]="item?._file" width="200"/>
          </td>
          <td nowrap>
            <button type="button" class="btn btn-danger btn-xs"
                    (click)="item.remove()">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <div>
        <button type="button" class="btn btn-success btn-s"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Save all
        </button>
        <button type="button" class="btn btn-danger btn-s"
                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Clear all
        </button>
      </div>

    </div>

  </div>
</div>
