<div class="container">
  <div class="row">
    <div *ngFor="let image of images" class="col-md-auto margin">
      <div class="img-container">
        <div class="overlay">
          <div (click)="removeImage(image.id)" class="text">x</div>
        </div>
        <img
          [src]="image.data"
          [alt]="image.name"
          width="200"
          height="150"
        />
      </div>
      <h6>{{image.name}}</h6>
      <p>Image size: {{image.fileSize}}</p>
      <p class="checksum">Check sum {{image.ckecksum | json}}</p>
    </div>
  </div>
</div>

